*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    
}
  
h1{
    color: rgb(5, 5, 133);
    margin-left: 100px;
}  

.socall-link{
    margin-top: 100px;
    margin-left: 150px;
}

.column{
    float: left;
    width:25%;
   

}
.row:after{
    content: "";
    display: table;
    clear:both;
}
a{
    padding: 10px;
    display:flex;
    height: 90px;
    width:90px;
    border-radius: 50%;
}
p{
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
}
a i{
    font-size: 50px;
}
/*a:hover{
   

}*/
img{
    margin-left: 80%;
    margin-right: 20px;
}
h3 {
    color:rgb(14, 14, 138);
    padding: 10px;
    padding-left: 0%;
}
h3 p{
    justify-content: left;
}
.vertical{
    border-left: 3px solid rgb(11, 11, 122) ;
    height: 250px;
    margin-left: 20px;
    
}
hr{
    width:0%;
}
@media screen and (max-width: 1085px) {
    body{
        width:100%;
        flex-direction: column;
        padding-right: 20%;
        margin: auto;
    }
   .socall-link{
        width:60%;
       
   }
   .vertical{
       height:0%;
   }
   .column{
        width: 50%;
        flex-direction: row;
        justify-content: center;
        font-size: 20px;  
        
   }
   .info{
       text-align: center;
       margin: auto;
      align-content: center;
   }

}
@media screen and (max-width: 544px){
    .row{
        flex-direction: column;
    }
    .column{
        width: 100%;
        justify-content: center;
        font-size: 20px;
        float: none;
        margin:auto;
        padding-left: 1.2rem;

    } 
    img{
        margin: auto;
        padding-right: 1rem;
        width:100%;
        
    }
    p{
        margin: auto;
        padding: 0%;
    }

}
@media screen and (max-width: 475px){
    .socall-link{
        margin:auto;
    }
    
    h1{
        padding-left: 0.4rem;
        margin: auto;
        font-size: 20px;
        }
    .column{
        text-align: center;
        margin: auto;
    }
    body{
        width:100%;
        margin: auto;
        padding-right: 0.5rem;
    }
    .main-logo{
        margin: auto;
        padding-left: 15rem;
        width:90%;
        padding-right: 0%;
    }
    hr{
        border-color:rgb(11, 11, 122);
        width:auto;
        margin: auto;}

    .info{
        margin: auto;
        padding-bottom: 3rem;
        padding-left: 0%;
    }
    h3{
        margin: auto;
        font-size: 1.2rem;
    }
    
    

}
