html,body{
    background-color:rgb(221, 230, 243);
    overflow: auto;
    height:100%;
}
.main-header{
    height: 70px;
    transition: all 0.7s;
    z-index: 1000;
    /* transition: all 0.5s; */
    padding: 40px 20;
    background: #fff;
    box-shadow: 5px 5px 3px grey;
  }
  .img-tt{
   margin-right: 20px;
   width: 200px ;
   height:70px;
   margin-top: 0px;
  
  }
  .main{
    background-color: rgb(42, 61, 228);
    
  }

h1{
    font-size:45px;
    padding: 0;
    margin-top: 40 px;
    color:white;
    align-content: center;
    text-align: center;
    font-family:monospace;
}
img{
     margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 24%;
    width:700px;
    
}
h2{
    color: white;
    text-align: center;
    font-size: 35px;

}
h3{
    color:  rgb(53, 37, 192);
    margin-left: 20px;
    font-size: 35px;
    padding:10px;
    align-items: center;
    

}
.card-img-top{
  text-align: center;
  width:auto;
  height:auto;
  margin: auto;
  padding:10px;

}
i{
    color: white;
    text-align: center;
}

.container1{
  text-align: center;
  align-items: center;
  
  margin-bottom: 20px;
  padding-right: 20px;
}
h4{
    color:black;
    text-align: center;
}
.description{
    text-align: center;
    color: black;
    
}


.programs .row{
  margin-top: 10px;
}
.programs .card{
  border: none;
  outline: none;
  border-radius: 20px;
  background-color:white;
  transition: transform 0.3s;
  margin: 0 60px;
  width:73%;
  
}
.card mt-4{
  max-height: 50px;
  text-align: center;
}
.programs .card img{
  width: 103%;
  height: 200px;
  border-radius: 20px;
  margin-top: -7px;
  margin-left: -3.5%;
  margin-right: -3.5%;
  align-items: center;
}
.programs .card:hover{
  transform: translateY(-15px);
  transition: transform 0.3s;
}

.programs .card .apply-btn{
  padding-bottom: 40px;
  margin-left: -2%;
  width: 45%;
  height:49px;
  border-radius: 20px;
  margin-bottom: 10px;

  text-align: center;
  justify-content: center;
  /*border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;*/
}

.card .apply-btn{
  background:rgb(36, 98, 230);
  
  padding-top: 40px;
 
}
@media(max-width:453px){
  .programs .card .apply-btn{
    width:70%;
    font-size: small;
  }
}


.apply-btn .btn{
  outline: none !important;
  border: none !important;
  
}

a:hover{
  background-color: white;
}
.form-section h3{
  align-items: center;
  text-align: center;
  
}
.form-section{
  background-image: url("https://t3.ftcdn.net/jpg/03/88/45/12/240_F_388451241_EwDnK81imLLHNjvL2CNLucIMaZ0mcLBh.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  height: 1000px;
  
}
form{
    padding: 20px;
    max-width:600px;
    height: max-content;
    height:85%;
    background-color:whitesmoke;
    border-radius: 10px;
    color:black;
    margin-left:30%;
    margin-bottom: 20px;
    padding:20px;
}

input,select,textarea{
    box-shadow: 3px 3px 2px grey;
    
}
   .container2{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(13, 71, 110);
    font-family: 'Open Sans'
}
.test_header h3{
  text-align: center;
  justify-items: center;
  background-color: rgb(13, 71, 110);
  color: white;
  padding:0%;
  margin: 0%;
  height:100px;
}

#demo {
    background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
    max-width: 900px;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 1rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem;
        
    }
}
img.img-fluid{
  align-items: center;
  text-align: center;
  margin: 0%;
  height: 90px;
  padding: 0%;
  width:100px;
  border-radius: 3rem;

}

.carousel-caption img {
    /*width: 6rem;*/
    border-radius: 7rem;
    margin-top: 2rem;
    text-align: center;
    
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 7rem;
        height:7rem;
        
        margin-top: 1rem;
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem;
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem;
    }
}

i {
    background-color: rgb(223, 56, 89);
    padding: 1.4rem
}

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity:unset;
    margin-top: 95px;
}
  
  
  @media (max-width: 800px) {
    body{
      width:100%;
      
    }
      
    
    .main-header{
      margin:auto;
      padding:auto;
    }
    .main{
      width:100%;
      margin: 0%;
      padding: 0%;
      height:100%
    }

    h2{
      text-align: center;
    }
    img{
      text-align: center;
      align-content: center;
      width: 95%;
      padding-right: 10px;
      padding-left: 30px;
      margin-left: auto;
      
      
    }
    h1{
      margin:auto;
      text-align: center;
      padding-left: 15px;
      

    }
  
    form{
      width:80%;
      margin:auto;
      padding:auto;
      font-weight: 500;
      height: 70%;
      padding-bottom: 10px;
    }
    .form-section{
      height: auto;
    }
    .container1{
      margin:auto;
      padding-left: 0%;
      align-items: center;
    }
    .img-tt{
      
      margin:auto;
      padding-left:auto ;
    }
    .programs .card{
      margin: auto;
      width:85%;
    }
    
    h3{
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 620px){
    img{
      width:100%;
      height: 60%;
      padding-left: 10px;
      text-align: center;
      margin-top: 40px;
     
    }
    .h2{
      align-self: baseline;
      text-align: end;
    }
    .main{
      width:100%;
      margin: 0%;
      padding: 0%;
      height:900px;
    }
    
    }
  

/*Footer*/
footer{
    margin: 0px;
    padding:0px;
    height:500px;
    width:100%;
    background-color: white;
    
    
}
.connect-h2{
  color: rgb(5, 5, 133);
  text-align: left;
  padding-left: 100px;
  padding-top: 20px;
  
}  


.socall-link{
  margin-top: 50px;
  margin-left: 100px;
  background-color: white;
  margin-bottom: 0.7rem;
}
.column{
  width:30%;
  justify-content: left;
  float:left;
  background-color: white;
  height: fit-content;
  margin-bottom: 20px;

}
.row:after{
  content: "";
  display: table;
  clear: both;
}
.a-connect{
  padding: 10px;
  display:flex;
 height: 90px;
  width:90px;
  border-radius: 50%;
}
p{
  color: black;
  font-size: 20px;
  
  /*padding-right: 10px;*/
  
}
.socall-text{
  
  display: inline-block;
  width:400px;
  white-space: nowrap;
  word-wrap: break-word;
  padding-left: 10px;
  
}
a i{
  font-size: 50px;
}
.tt-logo{
  margin-left: 80%;
  margin-right: 20px;
  width :200px;
  height:70px;
  padding:0%;
  
}
h3.connect-h3{
  color:rgb(14, 14, 138);
  padding: 10px;
  padding-left: 0%;
  font-size: 18px;
  text-align: center;

}
.socall-text1 {
  text-align: center;
  margin: 0%;
}
.vertical{
  border-left: 3px solid rgb(11, 11, 122) ;
  height: 250px;
  margin-left: 20px;
  
}
hr{
  width:0%;
}
.main-logo{
  padding-right: 1.5rem;
  justify-content: right;
  text-align: right;

}
.icon-logo{
  width:70px;
  max-height:70px;
  padding-left: 0%;
  
}
.info{
  text-align: center;
  margin-top: 0%;
  justify-items: center;
}

@media screen and (max-width: 1085px) {
  footer{
      width:100%;
      flex-direction: column;
      padding-right: 1.2rem;
      margin: auto;
      height: 100%;
      
  }
 .socall-link{
      width:100%;
      padding:0%;
      margin: auto;
     
 }
 .vertical{
     height:250px;
 }
 .column{
      width: 33.33%;
      flex-direction: row;
      font-size: 20px;  
      
 }
 .info{
     font-size: 85%;
     width:max-content;
     text-align: center;
     margin: auto;
     align-content: center;
 }
 .row{
  flex-direction:column;
}
  .main-logo{
  padding-bottom: 1rem;


}
}
@media screen and (max-width: 700px){
  .row{
      flex-direction: column;
  }
  .column{
      width: 100%;
      text-align: center;
      justify-content: center;
      font-size: 20px;
      float: none;
      margin:auto;
      padding-left: 1.2rem;
      
  } 
  img.tt-logo{
      margin: 0%;
      padding-right: 1rem;
      width:50%;
      text-align: right;
      
  }
  .socall-text1 {
      margin: auto;
      padding: 0%;
      width:100%;
  }
  .vertical{
      width:0%;
      height: 0%;
  }
  


/*@media screen and (max-width: 600px){*/
  .socall-link{
      margin:auto;
      padding-left: 23%;
      margin-top: 90px;
  }
  
  h2.connect-h2{
      padding-left: 0.4rem;
      margin: auto;
      
      text-align: left;
      justify-items: left;
      
      }
  
  footer{
     height:max-content;
      width:100%;
      margin: auto;
      padding-right: 0.5rem;
  }
  .main-logo{
      /*margin: auto;*/
      width:100%;
      height: 100%;
     
      /*text-align: right;
      justify-content: right;
      padding-left: 40%;*/
      
  }
  hr{
      border-color:rgb(11, 11, 122);
      width:100px;
      margin: auto;
    }

  .info{
      margin: auto;
      padding-bottom: 3rem;
      padding-right:0.8rem;
      text-align: center;
      justify-content: center;
      width: 100%;
      
  }
  .connect-h3{
      margin: auto;
      font-size: 1.2rem;
  }
  .icon-logo{
      width:100%;
  }
  .socall-text{
      font-size: 20px;
  }
}
@media screen and (max-width: 406px){
  .main-logo{
     padding-right: 0%;
     margin:auto;
     padding-left: 0.3rem;
     width:100%;
  }
  h1{
      padding: 0%;
  }
  .socall-link{
      padding-left: 13%;
  }
  img.tt-logo{
    width:50%;
    justify-items: right;
    text-align: right;
  }
}
