body{
    background-color:rgb(221, 230, 243);
}
.main-header{
    height: 70px;
    transition: all 0.7s;
    z-index: 1000;
    /* transition: all 0.5s; */
    padding: 40px 20;
    background: #fff;
    box-shadow: 5px 5px 3px grey;
  }
  .img-tt{
   margin-right: 20px;
   width: 200px ;
   height:70px;
  
  }
  .main{
    background-color: rgb(42, 61, 228);
  }

h1{
    font-size:45px;
    padding: 0;
    margin-top: 20 px;
    color:white;
    align-content: center;
    text-align: center;
    font-family:monospace;
}
img{
    align-items: center;
    justify-content: center;
    margin-left: 27%;
    
}
h2{
    color: white;
    text-align: center;
    font-size: 35px;

}
h3{
    color:  rgb(53, 37, 192);
    margin-left: 20px;
    font-size: 35px;

}
i{
    color: white;
    text-align: center;
}
.row row-cols-1 row-cols-md-2 g-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
 
    text-align: center;
    align-content: center;
    background-color: cornflowerblue;
}
.container1{
    padding-left: 50px;
   
    margin-bottom: 20px;
}
h4{
    color:black;
    text-align: center;
}
.description{
    text-align: center;
    color: black;
}
.card1{
    background-color:whitesmoke;
    border-radius: 10px;
    
}
.column{
  align-items: center;
}


a:hover{
  background-color: white;
}
form{
    padding: 20px;
    width:50%;
    height:50%;
    background-color:whitesmoke;
    border-radius: 10px;
    color:black;
    margin-left:25%;
    margin-bottom: 20px;
    padding:20px;
}
input,select,textarea{
    box-shadow: 3px 3px 2px grey;
}

  footer{
    background-color: black;
    color: white;
  }
  .text-uppercase,.Contact-header{
    color: white;
  }
  .custom{
    width:30%;
    margin-left: 65%;
    box-sizing: content-box;
    color:white;
    background-color: rgb(38, 52, 235);
    border-color:black;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 50px;
    transition: 0.5s;
    

  }

 
  .container2{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(13, 71, 110);
    font-family: 'Open Sans'
}

#demo {
    background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
    max-width: 900px;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 1rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem;
        
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem;
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem;
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem;
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem;
    }
}

i {
    background-color: rgb(223, 56, 89);
    padding: 1.4rem
}

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
}
  
  /* Add media queries for responsiveness. This will center both the text and the image inside the container */
 /* @media (max-width: 500px) {
    .test_container {
      text-align: center;
      margin:auto;
    }
  
    .test_container img {
      margin: auto;
      float: none;
      display: block;
    }
  }*/
  @media (max-width: 800px) {
    body{
      width:100%;
    }
      
    
    .main-header{
      margin:auto;
      padding:auto;
    }
    .main{
      width:100%;
      margin: 0%;
      padding: 0%;
    }

    h2{
      text-align: center;
    }
    img{
      text-align: center;
      align-content: center;
      width: 50%;
      padding-right: 10px;
      
    }
    h1{
      margin:auto;
      text-align: center;
      padding-left: 15px;
      

    }
    .row row-cols-1 row-cols-md-2 g-4{
      align-content: center;
      text-align: center;
      margin:auto;
      width:50%;
    }
    form{
      width:70%;
      margin:auto;
      padding:auto;
    }
    .container1{
      margin:auto;
      padding-left: 0%;
    }
    .img-tt{
      
      margin:auto;
      padding-left:auto ;
    }
    .card1{
      margin: auto;
      padding-left: auto;
      padding-right: auto;
    }
    .row row-cols-1 row-cols-md-2 g-4{
      padding-bottom: 20px;
    }
    h3{
      margin-top: 10px;
    }
  }
 


